.game-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .column {
    background-color: black;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 600px) {
  .column {
    background-color: black;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.letter {
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.keyboard {
  padding: 10px;
}
