button {
  border: 1px solid;
  margin: 2px;
  font-size: 20px;
  color: black;
  padding: 15px;
  flex: 1 0 7%;
}
.row-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
